@body-background-color: #231f20;
@default-font-size: 13px;
@default-font-color: white;
@default-font-family: "Open Sans", sans-serif;
@description-background-color: rgba(255, 255, 255, 0.5);
@default-border: none;
@navigation-size: 90px;
@logo-width: 328px;
@logo-height: 126px;
@default-font-shadow-color: rgba(0, 0, 0, 0.1);
@default-font-shadow: -1px 0 @default-font-shadow-color, 0 1px @default-font-shadow-color, 1px 0 @default-font-shadow-color, 0 -1px @default-font-shadow-color;
@logo-background-color: rgba(35, 31, 32, 0.5);
@language-font-color: @body-background-color;
@language-background-color: @description-background-color;

body {
  background-color: @body-background-color;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: @default-font-size;
  color: @default-font-color;
  font-family: @default-font-family;
  overflow: hidden;
}

div#heliconGalley {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;

  div.goLeft, div.goRight {
    position: fixed;
    top: 50%;
    margin-top: @navigation-size / 2 * -1;

    a {
      display: block;
      //width: @default-font-size;
      //height: @default-font-size;
      line-height: @default-font-size;
      border: none;
      position: relative;

      top: -50%;

      text-decoration: none;
      color: @default-font-color;
      font-size: @default-font-size * 3;

      //background-image: url("../img/navigation.png");
      background-size: cover;

      &:hover, &:active, &:focus {
        //background-image: url("../img/navigation-hover.png");
        text-decoration: none;
        color: @default-font-color;
      }
    }
  }

  div.goLeft {
    padding-left: @default-font-size;
  }

  div.goRight {
    right: 0px;
    padding-right: @default-font-size;
  }

  div.logo, div.language, div.title, div.imageTitle {
    position: absolute;
    display: block;
    top: @default-font-size * 2;
  }

  div.logo {
    left: @default-font-size * 2;
    width: @logo-width;
    height: @logo-height;
    background-color: @logo-background-color;

    div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  div.title, div.language, div.imageTitle {
    left: @logo-width + (@default-font-size * 3);
    width: auto;
    height: auto;
    padding: @default-font-size;
  }

  div.imageTitle {
    top: @default-font-size * 4.5;
    font-weight: bold;
  }

  div.title, div.imageTitle {
    text-shadow: @default-font-shadow;
  }

  div.language {
    top: @default-font-size * 7;
    color: @language-font-color;

    button, a {
      display: block;
      line-height: @default-font-size * 2;
      background-color: @language-background-color;
      margin: 0px;
      text-align: right;
      border-radius: @default-font-size / 3;
    }

    button {
      padding: 1px 5px 1px 5px;
      border: none;

      &:hover, &:active, &:focus, &:visited {
        cursor: pointer;
      }
    }

    a {
      padding: 0px 4px 0px 4px;
      border: transparent solid 1px;
      text-decoration: none;
      &:hover, &:visited, &:active, &:focus {
        color: @language-font-color;
        text-decoration: none;
      }

      img {
        width: 18px;
        height: 12px;
      }
    }

    div.hidden {
      display: none;
    }
  }

  div.title {
    font-size: @default-font-size * 1.5;
    font-weight: bold;
  }

  div.description, div.story {
    position: absolute;
    display: block;
    overflow: auto;
    padding: @default-font-size;
    background-color: @description-background-color;
    border: @default-border;
    border-radius: @default-font-size;
    color: @body-background-color;
  }

  div.description {
    width: 20%;
    top: @default-font-size * 2;
    right: @navigation-size + @default-font-size;

  }

  div.story {
    bottom: @default-font-size;
    left: @default-font-size;
    width: calc(100% - (@default-font-size * 4));
    height: auto;
    max-height: 20%;
    overflow: auto;
  }

  div.function {
    position: absolute;
    display: block;
    overflow: hidden;
    top: @default-font-size;
    right: @default-font-size;
    padding: @default-font-size / 2;

    i {
      padding: @default-font-size / 2;

      .hidden {
        display: none;
      }
    }
  }

  div i {
    cursor: pointer;

    &.fas.fa-arrow-up {
      -moz-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);

      filter: FlipH;
      -ms-filter: "FlipH";

      &.fullscreen {
        -moz-transform: rotateZ(-135deg);
        -o-transform: rotateZ(-135deg);
        -webkit-transform: rotateZ(-135deg);
        transform: rotateZ(-135deg);
      }
    }
  }
}